<div id="ui-world-layer">
	<div class="primary-theme">
		<div class="progress" id="ui-healthbar-layer" ng-click="hit()">
			<div class="progress-bar" role="progressbar" aria-valuemin="3" aria-valuemax="100" style="width: {{(currentHealth/baseHealth)*100}}%;">
				{{currentHealth}}
			</div>
		</div>

		<div class="progress" id="ui-speedbar-layer">
			<div id="sails" class="progress-bar" role="progressbar" aria-valuemin="3" aria-valuemax="100" style="width: {{sailsMode*100/3}}%;">
			</div>
		</div>
	</div>

	<chat></chat>

	<compass location="position"></compass>

</div>
