<div id="world-layer">
	<div class="primary-theme">
		<div class="progress" ng-click="hit()">
			<div class="progress-bar" role="progressbar" aria-valuemin="3" aria-valuemax="100" style="width: {{(currentHealth/baseHealth)*100}}%;">
				{{currentHealth}}
			</div>
		</div>

		<div class="progress">
			<div id="sails" class="progress-bar" role="progressbar" aria-valuemin="3" aria-valuemax="100" style="width: {{sailsMode*100/3}}%;">
			</div>
		</div>
	</div>

	<chat></chat>

	<div id="compass">
		<div class="axes-vertical">
			<span class="node north">N</span>
			<span class="helper"></span>
		</div>
		<div class="axes-horizontal left">
			<span class="node west">W</span>
			<span class="helper"></span>
		</div>
		<div class="axes-horizontal right">
			<span class="node east">E</span>
			<span class="helper"></span>
		</div>
		<div class="axes-vertical">
			<span class="node south">S</span>
			<span class="helper"></span>
		</div>
	</div>

	<div class="primary-theme">
		<p>Local - X: <span id="coordXL"></span>; Y: <span id="coordYL"></span>; Alpha: <span id="coordAlphaL"></span></p>
		<p>Server - X: <span id="coordXS"></span>; Y: <span id="coordYS"></span>; Alpha: <span id="coordAlphaS"></span></p>
	</div>
</div>
</div>
