<div id="harbor-layer" class="primary-theme">
	<form>
		<div class="form-group text-center">
			<label>{{user.nick}}</label>
		</div>
		<div class="form-group text-center">
			<button class="btn btn-primary" ng-click="toWorld()">Ocean</button>
		</div>
	</form>

	<div class="shipList primary-theme-scrollbar">
		<ul>
			<li ng-repeat="ship in ships" ng-class="{active:ship.selected}" ng-click="pickShip($index)">
				<span>{{ship.name}}</span>
			</li>
		</ul>
	</div>

	<div class="text-center loading-bar-container" ng-if="loading">
		<div class="loading-bar">
			<span class="active-1"></span>
			<span class="active-2"></span>
			<span class="active-3"></span>
			<span class="active-4"></span>
			<span class="active-5"></span>
		</div>
	</div>
</div>
