<div id="login-layer">
	<form ng-submit="connect()">
	<div>
		<label>{{localeData.pages.login.email}}: </label>
		<input type="text" ng-model="email" required/>
	</div>
	<div>
		<label>{{localeData.pages.login.password}}: </label>
		<input type="password" ng-model="password" required/>
	</div>
	<div>
		<label>{{localeData.pages.login.rememberUser}}</label>
		<input type="checkbox" class="RememberMe"/>
	</div>
	<div>
		<input ng-disabled="form.$invalid" type="submit" value="{{localeData.pages.login.enter}}" class="Enter"/>
	</div>
	<div>
		<a>{{localeData.pages.login.recoverPassword}}</a>
		<a>{{localeData.pages.login.registLink}}</a>
	</div>
	</form>
</div>