<div id="settings-layer" ng-controller="settingsCtrl" class="settings" ng-show="showSettings">
	{{showSettings}}
	<div>
		<label class="" translate>{{:: 'SETTINGS_MUSIC' }}:</label>
		<input type="range" ng-model="musicVolume" ng-change="changeVolume('music')">
	</div>
	<div>
		<label class="" translate>{{:: 'SETTINGS_EFFECTS' }}:</label>
		<input type="range" ng-model="effectsVolume" ng-change="changeVolume('effects')">
	</div>
	<div>
		<label class="" translate>{{:: 'SETTINGS_LANGUAGE' }}:</label>
		<select ng-model="locale" ng-options="item.code as item.label for item in languages"> </select>
	</div>
	<div>
		<label class="" translate>{{:: 'SETTINGS_SERVERS' }}:</label>
		<select ng-model="server" ng-options="item.url as item.label for item in servers"> </select>
	</div>
	<div>
		<input type="button" ng-click="saveConfigurations()" value="{{ 'SETTINGS_SAVE' | translate }}">
	</div>
</div>
