<div id="login-layer" class="primary-theme">
	<form ng-submit="submit()" role="form" ng-init="loginDisplayed = true">
		<div class="form-group">
			<label for="inputEmail" class="control-label">{{'LOGIN_EMAIL' | translate}}: </label>
			<input type="email" class="form-control" id="inputEmail" ng-model="email" placeholder="{{'LOGIN_EMAIL' | translate}}" required>
		</div>

		<div class="form-group">
			<label for="inputPassword" class="control-label">{{'LOGIN_PASSWORD' | translate}}: </label>
			<input type="password" name="confirmPassword" class="form-control" id="inputPassword" placeholder="{{'LOGIN_PASSWORD' | translate}}" ng-model="password" required>
		</div>

		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="rememberUser"> {{'LOGIN_REMEMBER_USER' | translate}}
				</label>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" ng-disabled="form.$invalid || loading" class="btn btn-primary">
				{{ loginDisplayed ? 'LOGIN_ENTER' : 'LOGIN_SUBMIT' | translate }}
			</button>
		</div>
		<div class="form-group">
			<a href="" ng-click="resetPassword()">{{'LOGIN_FORGOT_PASSWORD' | translate}}</a> |
			<a href="" ng-click="loginDisplayed = !loginDisplayed">
				<span ng-show="loginDisplayed">{{'LOGIN_REGISTRATION' | translate}}</span>
				<span ng-show="!loginDisplayed">{{'LOGIN_AUTH_FORM' | translate}}</span>
			</a>
		</div>

	</form>

	<div class="text-center" ng-if="loading">
		<div class="loading-bar">
			<span class="active-1"></span>
			<span class="active-2"></span>
			<span class="active-3"></span>
			<span class="active-4"></span>
			<span class="active-5"></span>
		</div>
	</div>

	<div id="devInfo">
		<!-- <a data-toggle="tooltip" data-placement="top" title="Tooltip on left"><span class="glyphicon glyphicon-info-sign"></span></a>-->
		<p>Version: {{devInfo.version}}</p>
		<p>Environment: {{devInfo.environment}}</p>
	</div>

</div>
