#chat-layer {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 103;
	font-size: 0.9em;
	.chat-box {
		width: 320px;
		padding: 2px;
		margin: 2px;
		color: #333;
		input {
			display: block;
			padding: 5px;
			width: 100%;
			color: black;
			border: none;
		}
		input:focus {
			outline: 0;
		}
	}
	.chat-header {
		padding: 3px;
		label {
			margin: 1px 4px;
			span {
				color: #ddd;
			}
			span:hover {
				cursor: pointer;
			}
		}
	}
	.chat-content {
		height: 230px;
		background: #eee;
		overflow-x: hidden;
		overflow-y: scroll;
		ul {
			padding: 2px;
			margin: 1px;
			li {
				padding: 2px 0;
				border-bottom: 1px solid #ddd;
			}
		}
	}
}
