#harbor-layer {
	border: solid 1px #0A151F;
	margin: 10px;
	padding: 10px;
	position: fixed;
	z-index: 2;
	background-color: #005959;
}

.shipsList {
	position:fixed;
	z-index:9;
	bottom:0;
	width:100%;
	border: solid 1px #008000;

	ul {
		margin: 10px;
		padding: 10px;

		li {
			display: inline-block;
			width: 100px;
			height: 100px;
			border: solid 1px #008000;
		}
	}
}