#login-layer {
	position: fixed;
	top: 20%;
	left: 40%;
	width: 500px;
	height: 400px;
	//background: url('../images/popupBg.png') no-repeat center center;
	background-size: 100%;
	z-index:2;

	form {
		position: absolute;
		top: 35%;
		left: 25%;
		width: 250px;
		padding: 20px;
		background-color: #ccc;

		div {
			margin-bottom: 5px;

			input {
				width: 98%
			}

			input.RememberMe {
				margin: 0px;
				vertical-align: middle;
			}

			input.Enter {
				margin-left: 5px;
				border-color: transparent;
				border-radius: 5px;
				background-color: #005959;
				color: #ddd;

				&:hover {
					opacity: 0.85;
				}
			}

			input.RememberMe,
			input.Enter {
				width: auto;
			}
		}

		a {
			margin-right: 20px;

			&:hover {
				color: #005959;
			}
		}

		a, label {
			margin: 3px;
			display: inline-block;
		}

		a, input.Enter,
		input.RememberMe {
			cursor: pointer;
		}
	}
}