/*common properties*/

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

li{
	list-style: none;
}

.splash-screen{
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	font-size: 60px;
	text-align: center;
	color: #ddd;
	background-color: #046c6c;
}
