/*common properties*/
body {
  background-image: url('../images/loginPageBg.jpg');
  background-size: 100%;
  position: relative;
}
#login-layout {
  position: fixed;
  top: 20%;
  left: 40%;
  width: 400px;
  height: 400px;
  background: url('../images/popupBg.png') no-repeat center center;
  background-size: 100%;
}
#login-layout form {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 200px;
}
#chat-layout {
  position: absolute;
  width: 280px;
  height: 200px;
  background: #FF8000;
  z-index: 3;
}
#chat-layout section {
  background: #C0C0C0;
  height: 90%;
  width: 99%;
  margin: 1px auto;
}
#chat-layout form {
  position: relative;
}
#chat-layout form input {
  width: 97%px;
  position-top: 100px;
}
/*canvas properties*/
