/*common properties*/
body {
  background-image: url('../images/loginPageBg.jpg');
  background-size: 100%;
  position: relative;
}
body div {
  position: fixed;
  top: 20%;
  left: 40%;
  width: 400px;
  height: 400px;
  background: url('../images/popupBg.png') no-repeat center center;
  background-size: 100%;
}
body div form {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 200px;
}
/*canvas properties*/
