#chat-layer {
  position: fixed;
  bottom: 25px;
  left: 5px;
  width: 300px;
  height: 200px;
  border: solid 1px #1D1D1D;
  background-color: #005959;
}
#chat-layer ul {
  position: relative;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 200px;
  border-bottom: solid 1px #1D1D1D;
}
#chat-layer ul li {
  color: #ddd;
}
#chat-layer form {
  position: relative;
}
#chat-layer form input {
  width: 100%;
  padding: 0;
}

/*common properties*/
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
li {
  list-style: none;
}
.cloak {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.page-loader {
  position: fixed;
  z-index: 90;
  width: 100%;
  height: 100%;
  font-size: 60px;
  text-align: center;
  color: #ddd;
  background-color: #046c6c;
}

#harbor-layer {
  border: solid 1px #0A151F;
  margin: 10px;
  padding: 10px;
  position: fixed;
  z-index: 2;
  background-color: #005959;
  color: #ddd;
}
.shipsList {
  position: fixed;
  z-index: 9;
  bottom: 0;
  width: 100%;
  border: solid 5px #005959;
  background: #005959;
}
.shipsList ul {
  margin: 10px;
  padding: 10px;
  color: #ddd;
}
.shipsList ul li {
  display: inline-block;
  padding: 10px;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-right: 20px;
  background: #005959;
  color: #bbb;
  border: solid 5px #bbb;
  cursor: pointer;
}
.shipsList ul li.active {
  color: #fff;
  border: solid 5px #fff;
  background: #046c6c;
}

#login-layer {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #005959;
  background-opacity: 0.7;
  z-index: 2;
}
#login-layer form {
  position: absolute;
  top: 35%;
  width: 250px;
  padding: 20px;
  color: #ddd;
}
#login-layer form div {
  margin-bottom: 5px;
}
#login-layer form div input {
  width: 98%;
}
#login-layer form div input.RememberMe {
  margin: 0px;
  vertical-align: middle;
}
#login-layer form div input.Enter {
  margin-left: 5px;
  border-color: transparent;
  border-radius: 5px;
  background-color: #ddd;
  color: #005959;
}
#login-layer form div input.Enter:hover {
  opacity: 0.85;
}
#login-layer form div input.RememberMe,
#login-layer form div input.Enter {
  width: auto;
}
#login-layer form a {
  margin-right: 20px;
}
#login-layer form a:hover {
  color: #fff;
}
#login-layer form a,
#login-layer form label {
  margin: 3px;
  display: inline-block;
}
#login-layer form a,
#login-layer form input.Enter,
#login-layer form input.RememberMe {
  cursor: pointer;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
}

#settings-layer {
  position: fixed;
  width: 300px;
  background-color: #005959;
  background-opacity: 0.7;
  z-index: 300;
  color: #ddd;
  right: 0;
}


